<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613268287847-jda1gk8jei867nl73fp8ealjn4pgqv3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613268287847-jda1gk8jei867nl73fp8ealjn4pgqv3h</string>
	<key>API_KEY</key>
	<string>AIzaSyAd43N_LFRkHjZbd46iBXRcg8DDDwvZNYY</string>
	<key>GCM_SENDER_ID</key>
	<string>613268287847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.hidmona.app</string>
	<key>PROJECT_ID</key>
	<string>hidmona-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hidmona-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613268287847:ios:00f7275e050bf0125e7fc2</string>
</dict>
</plist>